In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("DATA.csv")

df.head()

,Unnamed: 0,store_code,week_code,prod_code,units_sold,sales_(€),sales_volume_(lt),real_unit_price,real_volume_price,rate_price_in_units,...,brand,packaging,volume_(ml),units_(ct),province,autonomous_community,min_temp,max_temp,avg_temp,precipitation_(mm)
0,0,243,42,236,30,19.50,10,0.65,0.33,0.65,...,MAN 2 - BRAND 1,CAN,330,1,La Rioja,La Rioja,5.671429,12.285714,8.8,1.285714
1,1,243,42,239,2,1.82,1,0.91,0.33,0.91,...,MAN 2 - BRAND 1,CRISTAL BOTTLE,330,1,La Rioja,La Rioja,5.671429,12.285714,8.8,1.285714
2,2,243,42,247,2,10.32,4,5.16,1.98,5.16,...,MAN 2 - BRAND 2,CRISTAL BOTTLE,330,6,La Rioja,La Rioja,5.671429,12.285714,8.8,1.285714
3,3,243,42,258,3,14.97,6,4.99,1.98,4.99,...,MAN 4 - BRAND 1,CRISTAL BOTTLE,330,6,La Rioja,La Rioja,5.671429,12.285714,8.8,1.285714
4,4,243,42,264,2,10.88,4,5.44,1.98,5.44,...,MAN 4 - BRAND 1,CRISTAL BOTTLE,330,6,La Rioja,La Rioja,5.671429,12.285714,8.8,1.285714

In [3]:
df.dtypes

Unnamed: 0                          int64
store_code                          int64
week_code                           int64
prod_code                           int64
units_sold                          int64
sales_(€)                         float64
sales_volume_(lt)                   int64
real_unit_price                   float64
real_volume_price                 float64
rate_price_in_units               float64
rate_price_in_volume              float64
promotion_aisle_promo             float64
promotion_brochure_promo          float64
promotion_discount_promo          float64
promotion_display_promo           float64
promotion_extra_quantity_promo    float64
promotion_gift_promo              float64
promotion_multipurchase_promo     float64
promotion_shelf_header_promo      float64
projection_factor                 float64
canal_code                          int64
province_code                       int64
postal_code                         int64
sales_surface_sqmeters              int64
date                               object
segment                            object
manufacturer                       object
brand                              object
packaging                          object
volume_(ml)                         int64
units_(ct)                          int64
province                           object
autonomous_community               object
min_temp                          float64
max_temp                          float64
avg_temp                          float64
precipitation_(mm)                float64
dtype: object

In [4]:
df["invoice_id"] = df["store_code"].astype(str)+ "-" + df["week_code"].astype(str)

In [5]:
df.head()

,Unnamed: 0,store_code,week_code,prod_code,units_sold,sales_(€),sales_volume_(lt),real_unit_price,real_volume_price,rate_price_in_units,...,packaging,volume_(ml),units_(ct),province,autonomous_community,min_temp,max_temp,avg_temp,precipitation_(mm),invoice_id
0,0,243,42,236,30,19.50,10,0.65,0.33,0.65,...,CAN,330,1,La Rioja,La Rioja,5.671429,12.285714,8.8,1.285714,243-42
1,1,243,42,239,2,1.82,1,0.91,0.33,0.91,...,CRISTAL BOTTLE,330,1,La Rioja,La Rioja,5.671429,12.285714,8.8,1.285714,243-42
2,2,243,42,247,2,10.32,4,5.16,1.98,5.16,...,CRISTAL BOTTLE,330,6,La Rioja,La Rioja,5.671429,12.285714,8.8,1.285714,243-42
3,3,243,42,258,3,14.97,6,4.99,1.98,4.99,...,CRISTAL BOTTLE,330,6,La Rioja,La Rioja,5.671429,12.285714,8.8,1.285714,243-42
4,4,243,42,264,2,10.88,4,5.44,1.98,5.44,...,CRISTAL BOTTLE,330,6,La Rioja,La Rioja,5.671429,12.285714,8.8,1.285714,243-42

# Dummies for Brand

In [ ]:
#we must first take a look at all possible brands
df['brand'].value_counts()

In [ ]:
brand_dummies = pd.get_dummies(df, columns=['brand'])
brand_dummies = brand_dummies.groupby(["invoice_id"]).agg('max').reset_index()

print(brand_dummies.head())
print(df.shape, brand_dummies.shape)

In [ ]:
brand_dummies.head()

In [ ]:
list(brand_dummies.columns)

In [ ]:
brand_dummies = brand_dummies.drop(['Unnamed: 0',
 'store_code',
 'week_code',
 'prod_code',
 'units_sold',
 'sales_(€)',
 'sales_volume_(lt)',
 'real_unit_price',
 'real_volume_price',
 'rate_price_in_units',
 'rate_price_in_volume',
 'promotion_aisle_promo',
 'promotion_brochure_promo',
 'promotion_discount_promo',
 'promotion_display_promo',
 'promotion_extra_quantity_promo',
 'promotion_gift_promo',
 'promotion_multipurchase_promo',
 'promotion_shelf_header_promo',
 'projection_factor',
 'canal_code',
 'province_code',
 'postal_code',
 'sales_surface_sqmeters',
 'date',
 'segment',
 'manufacturer',
 'packaging',
 'volume_(ml)',
 'units_(ct)',
 'province',
 'autonomous_community',
 'min_temp',
 'max_temp',
 'avg_temp',
 'precipitation_(mm)'], axis = 1)

In [ ]:
brand_dummies.head()

In [ ]:
#brand_dummies.to_csv("BRAND DUMMIES.csv")

# Dummies for Packaging

In [ ]:
#we must first take a look at all possible brands
df['packaging'].value_counts()

In [ ]:
packaging_dummies = pd.get_dummies(df, columns=['packaging'])
packaging_dummies = packaging_dummies.groupby(["invoice_id"]).agg('max').reset_index()

print(packaging_dummies.head())
print(df.shape, packaging_dummies.shape)

In [ ]:
packaging_dummies.head()

In [ ]:
list(packaging_dummies.columns)

In [ ]:
packaging_dummies = packaging_dummies.drop(['Unnamed: 0',
 'store_code',
 'week_code',
 'prod_code',
 'units_sold',
 'sales_(€)',
 'sales_volume_(lt)',
 'real_unit_price',
 'real_volume_price',
 'rate_price_in_units',
 'rate_price_in_volume',
 'promotion_aisle_promo',
 'promotion_brochure_promo',
 'promotion_discount_promo',
 'promotion_display_promo',
 'promotion_extra_quantity_promo',
 'promotion_gift_promo',
 'promotion_multipurchase_promo',
 'promotion_shelf_header_promo',
 'projection_factor',
 'canal_code',
 'province_code',
 'postal_code',
 'sales_surface_sqmeters',
 'date',
 'segment',
 'manufacturer',
 'brand',
 'volume_(ml)',
 'units_(ct)',
 'province',
 'autonomous_community',
 'min_temp',
 'max_temp',
 'avg_temp',
 'precipitation_(mm)'], axis = 1)

In [ ]:
packaging_dummies.head()

In [ ]:
#packaging_dummies.to_csv("PACKAGING DUMMIES.csv")

# Dummies for Segment

In [ ]:
#we must first take a look at all possible brands
df['segment'].value_counts()

In [ ]:
segment_dummies = pd.get_dummies(df, columns=['segment'])
segment_dummies = segment_dummies.groupby(["invoice_id"]).agg('max').reset_index()

print(segment_dummies.head())
print(df.shape, segment_dummies.shape)

In [ ]:
segment_dummies.head()

In [ ]:
list(segment_dummies.columns)

In [ ]:
segment_dummies = segment_dummies.drop(['Unnamed: 0',
 'store_code',
 'week_code',
 'prod_code',
 'units_sold',
 'sales_(€)',
 'sales_volume_(lt)',
 'real_unit_price',
 'real_volume_price',
 'rate_price_in_units',
 'rate_price_in_volume',
 'promotion_aisle_promo',
 'promotion_brochure_promo',
 'promotion_discount_promo',
 'promotion_display_promo',
 'promotion_extra_quantity_promo',
 'promotion_gift_promo',
 'promotion_multipurchase_promo',
 'promotion_shelf_header_promo',
 'projection_factor',
 'canal_code',
 'province_code',
 'postal_code',
 'sales_surface_sqmeters',
 'date',
 'manufacturer',
 'brand',
 'packaging',
 'volume_(ml)',
 'units_(ct)',
 'province',
 'autonomous_community',
 'min_temp',
 'max_temp',
 'avg_temp',
 'precipitation_(mm)'], axis = 1)

In [ ]:
segment_dummies.head()

In [ ]:
#segment_dummies.to_csv("SEGMENT DUMMIES.csv")

# Dummies for Channel

In [ ]:
#we must first take a look at all possible brands
df['canal_code'].value_counts()

In [ ]:
channels_dummies = pd.get_dummies(df, columns=['canal_code'])
channels_dummies = channels_dummies.groupby(["invoice_id"]).agg('max').reset_index()

print(channels_dummies.head())
print(df.shape, channels_dummies.shape)

In [ ]:
channels_dummies.head()

In [ ]:
list(channels_dummies.columns)

In [ ]:
channels_dummies = channels_dummies.drop(['Unnamed: 0',
 'store_code',
 'week_code',
 'prod_code',
 'units_sold',
 'sales_(€)',
 'sales_volume_(lt)',
 'real_unit_price',
 'real_volume_price',
 'rate_price_in_units',
 'rate_price_in_volume',
 'promotion_aisle_promo',
 'promotion_brochure_promo',
 'promotion_discount_promo',
 'promotion_display_promo',
 'promotion_extra_quantity_promo',
 'promotion_gift_promo',
 'promotion_multipurchase_promo',
 'promotion_shelf_header_promo',
 'projection_factor',
 'province_code',
 'postal_code',
 'sales_surface_sqmeters',
 'date',
 'segment',
 'manufacturer',
 'brand',
 'packaging',
 'volume_(ml)',
 'units_(ct)',
 'province',
 'autonomous_community',
 'min_temp',
 'max_temp',
 'avg_temp',
 'precipitation_(mm)'], axis = 1)

In [ ]:
channels_dummies.head()

In [ ]:
#channels_dummies.to_csv("CHANNEL DUMMIES.csv")

# Insights

In [ ]:
print('brand_dummies:', brand_dummies.shape)
print('packaging_dummies:', packaging_dummies.shape)
print('segment_dummies:', segment_dummies.shape)
print("channels_dummies", channels_dummies.shape)

# Combinig All Dummies Together

In [6]:
together = pd.get_dummies(df, columns=["brand", "packaging", "segment", "canal_code"])
together = together.groupby(["invoice_id"]).agg('max').reset_index()

print(together.head())
print(df.shape, together.shape)

  invoice_id  Unnamed: 0  store_code  week_code  prod_code  units_sold  \
0        1-1      861278           1          1       1503        1761
1       1-10     2790708           1         10       1503        1938
2       1-11      531745           1         11       1503        2075
3       1-12      182984           1         12       1503        2104
4       1-13      457526           1         13       1503        2132

   sales_(€)  sales_volume_(lt)  real_unit_price  real_volume_price  ...  \
0     426.16                581             8.80               7.92  ...
1     470.08                640             9.09               7.92  ...
2     503.12                685             9.09               7.92  ...
3     510.08                694             8.80               7.92  ...
4     516.96                704             9.22               7.92  ...

   segment_CELIACS  segment_EXTRA  segment_FLAVOURED  segment_IMPORT PREMIUM  \
0                1              1                  1                       1
1                0              1                  1                       1
2                0              1                  1                       1
3                0              1                  1                       1
4                0              1                  1                       1

   segment_IMPORT SPECIAL  segment_NATIONAL  segment_WITHOUT ALCOHOL  \
0                       1                 1                        1
1                       1                 1                        1
2                       0                 1                        1
3                       1                 1                        1
4                       1                 1                        1

   segment_ZERO ALCOHOL  canal_code_1  canal_code_2
0                     1             1             0
1                     1             1             0
2                     1             1             0
3                     1             1             0
4                     1             1             0

[5 rows x 71 columns]
(5312252, 38) (45507, 71)

In [7]:
together.head()

,invoice_id,Unnamed: 0,store_code,week_code,prod_code,units_sold,sales_(€),sales_volume_(lt),real_unit_price,real_volume_price,...,segment_CELIACS,segment_EXTRA,segment_FLAVOURED,segment_IMPORT PREMIUM,segment_IMPORT SPECIAL,segment_NATIONAL,segment_WITHOUT ALCOHOL,segment_ZERO ALCOHOL,canal_code_1,canal_code_2
0,1-1,861278,1,1,1503,1761,426.16,581,8.80,7.92,...,1,1,1,1,1,1,1,1,1,0
1,1-10,2790708,1,10,1503,1938,470.08,640,9.09,7.92,...,0,1,1,1,1,1,1,1,1,0
2,1-11,531745,1,11,1503,2075,503.12,685,9.09,7.92,...,0,1,1,1,0,1,1,1,1,0
3,1-12,182984,1,12,1503,2104,510.08,694,8.80,7.92,...,0,1,1,1,1,1,1,1,1,0
4,1-13,457526,1,13,1503,2132,516.96,704,9.22,7.92,...,0,1,1,1,1,1,1,1,1,0

In [8]:
list(together.columns)

['invoice_id',
 'Unnamed: 0',
 'store_code',
 'week_code',
 'prod_code',
 'units_sold',
 'sales_(€)',
 'sales_volume_(lt)',
 'real_unit_price',
 'real_volume_price',
 'rate_price_in_units',
 'rate_price_in_volume',
 'promotion_aisle_promo',
 'promotion_brochure_promo',
 'promotion_discount_promo',
 'promotion_display_promo',
 'promotion_extra_quantity_promo',
 'promotion_gift_promo',
 'promotion_multipurchase_promo',
 'promotion_shelf_header_promo',
 'projection_factor',
 'province_code',
 'postal_code',
 'sales_surface_sqmeters',
 'date',
 'manufacturer',
 'volume_(ml)',
 'units_(ct)',
 'province',
 'autonomous_community',
 'min_temp',
 'max_temp',
 'avg_temp',
 'precipitation_(mm)',
 'brand_MAN 1 - BRAND 1',
 'brand_MAN 1 - BRAND 2',
 'brand_MAN 1 - OTHER BRANDS',
 'brand_MAN 2 - BRAND 1',
 'brand_MAN 2 - BRAND 2',
 'brand_MAN 2 - BRAND 3',
 'brand_MAN 2 - BRAND 4',
 'brand_MAN 2 - BRAND 5',
 'brand_MAN 2 - OTHER BRANDS',
 'brand_MAN 3 - BRAND 1',
 'brand_MAN 3 - BRAND 2',
 'brand_MAN 3 - BRAND 3',
 'brand_MAN 3 - BRAND 4',
 'brand_MAN 3 - BRAND 5',
 'brand_MAN 3 - OTHER BRANDS',
 'brand_MAN 4 - BRAND 1',
 'brand_MAN 5 - BRAND 1',
 'brand_MAN 5 - BRAND 2',
 'brand_MAN 5 - OTHER BRANDS',
 'brand_MAN 6 - BRAND 1',
 'brand_OTHER MAN - OTHER BRANDS',
 'packaging_CAN',
 'packaging_CRISTAL BOTTLE',
 'packaging_OTHER',
 'packaging_PET',
 'segment_ARTISANS',
 'segment_BLACK',
 'segment_CELIACS',
 'segment_EXTRA',
 'segment_FLAVOURED',
 'segment_IMPORT PREMIUM',
 'segment_IMPORT SPECIAL',
 'segment_NATIONAL',
 'segment_WITHOUT ALCOHOL',
 'segment_ZERO ALCOHOL',
 'canal_code_1',
 'canal_code_2']

In [9]:
together = together.drop(['Unnamed: 0',
 'store_code',
 'week_code',
 'prod_code',
 'units_sold',
 'sales_(€)',
 'sales_volume_(lt)',
 'real_unit_price',
 'real_volume_price',
 'rate_price_in_units',
 'rate_price_in_volume',
 'promotion_aisle_promo',
 'promotion_brochure_promo',
 'promotion_discount_promo',
 'promotion_display_promo',
 'promotion_extra_quantity_promo',
 'promotion_gift_promo',
 'promotion_multipurchase_promo',
 'promotion_shelf_header_promo',
 'projection_factor',
 'province_code',
 'postal_code',
 'sales_surface_sqmeters',
 'date',
 'manufacturer',
 'volume_(ml)',
 'units_(ct)',
 'province',
 'autonomous_community',
 'min_temp',
 'max_temp',
 'avg_temp',
 'precipitation_(mm)'], axis = 1)

In [10]:
together.head()

,invoice_id,brand_MAN 1 - BRAND 1,brand_MAN 1 - BRAND 2,brand_MAN 1 - OTHER BRANDS,brand_MAN 2 - BRAND 1,brand_MAN 2 - BRAND 2,brand_MAN 2 - BRAND 3,brand_MAN 2 - BRAND 4,brand_MAN 2 - BRAND 5,brand_MAN 2 - OTHER BRANDS,...,segment_CELIACS,segment_EXTRA,segment_FLAVOURED,segment_IMPORT PREMIUM,segment_IMPORT SPECIAL,segment_NATIONAL,segment_WITHOUT ALCOHOL,segment_ZERO ALCOHOL,canal_code_1,canal_code_2
0,1-1,1,0,0,1,1,1,0,1,1,...,1,1,1,1,1,1,1,1,1,0
1,1-10,1,0,0,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,0
2,1-11,1,0,0,1,1,1,0,0,1,...,0,1,1,1,0,1,1,1,1,0
3,1-12,1,0,0,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,0
4,1-13,1,0,0,1,1,1,1,1,1,...,0,1,1,1,1,1,1,1,1,0

In [12]:
#together.to_csv("TOGETHER DUMMIES.csv")

# Best Province in terms of Sales

In [13]:
# Top 10 stores in sales performance

df2 = df.groupby(["province"])["sales_(€)"].sum().to_frame()

df2.sort_values(["sales_(€)"], ascending = [False]).head(10)

                                    sales_(€)
province
Area Metropolitana de Madrid     4.888229e+07
Area Metropolitana de Barcelona  1.963554e+07
Valencia                         1.413874e+07
Alicante                         1.238064e+07
Sevilla                          1.014813e+07
Zaragoza                         9.472547e+06
Malaga                           8.767496e+06
Baleares                         8.538766e+06
Vizcaya                          7.844810e+06
Cadiz                            6.791170e+06

## Area Metropolitana de Madrid

In [14]:
madrid = df[df.province == "Area Metropolitana de Madrid"]

In [15]:
madrid["province"].unique()

array(['Area Metropolitana de Madrid'], dtype=object)

In [16]:
together2 = pd.get_dummies(madrid, columns=["brand", "packaging", "segment", "canal_code"])
together2 = together2.groupby(["invoice_id"]).agg('max').reset_index()

print(together2.head())
print(madrid.shape, together2.shape)

  invoice_id  Unnamed: 0  store_code  week_code  prod_code  units_sold  \
0      100-1      947080         100          1       1502         609
1     100-10      992704         100         10       1502         656
2    100-100      207775         100        100       1502        2308
3    100-101     2353962         100        101       1502        1585
4    100-102     1914883         100        102       1502        1228

   sales_(€)  sales_volume_(lt)  real_unit_price  real_volume_price  ...  \
0    1173.90                832            10.95               6.00  ...
1     846.72                776            10.95               7.92  ...
2    2280.96               2091            10.99               7.92  ...
3    1732.80               1430             9.36               7.92  ...
4     656.64                602             9.36               7.92  ...

   segment_CELIACS  segment_EXTRA  segment_FLAVOURED  segment_IMPORT PREMIUM  \
0                0              1                  1                       1
1                0              1                  1                       1
2                1              1                  1                       1
3                1              1                  1                       1
4                1              1                  1                       1

   segment_IMPORT SPECIAL  segment_NATIONAL  segment_WITHOUT ALCOHOL  \
0                       1                 1                        1
1                       1                 1                        1
2                       1                 1                        1
3                       1                 1                        1
4                       1                 1                        1

   segment_ZERO ALCOHOL  canal_code_1  canal_code_2
0                     1             1             0
1                     1             1             0
2                     1             1             0
3                     1             1             0
4                     1             1             0

[5 rows x 71 columns]
(787750, 38) (5282, 71)

In [17]:
together2.head()

,invoice_id,Unnamed: 0,store_code,week_code,prod_code,units_sold,sales_(€),sales_volume_(lt),real_unit_price,real_volume_price,...,segment_CELIACS,segment_EXTRA,segment_FLAVOURED,segment_IMPORT PREMIUM,segment_IMPORT SPECIAL,segment_NATIONAL,segment_WITHOUT ALCOHOL,segment_ZERO ALCOHOL,canal_code_1,canal_code_2
0,100-1,947080,100,1,1502,609,1173.90,832,10.95,6.00,...,0,1,1,1,1,1,1,1,1,0
1,100-10,992704,100,10,1502,656,846.72,776,10.95,7.92,...,0,1,1,1,1,1,1,1,1,0
2,100-100,207775,100,100,1502,2308,2280.96,2091,10.99,7.92,...,1,1,1,1,1,1,1,1,1,0
3,100-101,2353962,100,101,1502,1585,1732.80,1430,9.36,7.92,...,1,1,1,1,1,1,1,1,1,0
4,100-102,1914883,100,102,1502,1228,656.64,602,9.36,7.92,...,1,1,1,1,1,1,1,1,1,0

In [18]:
list(together2.columns)

['invoice_id',
 'Unnamed: 0',
 'store_code',
 'week_code',
 'prod_code',
 'units_sold',
 'sales_(€)',
 'sales_volume_(lt)',
 'real_unit_price',
 'real_volume_price',
 'rate_price_in_units',
 'rate_price_in_volume',
 'promotion_aisle_promo',
 'promotion_brochure_promo',
 'promotion_discount_promo',
 'promotion_display_promo',
 'promotion_extra_quantity_promo',
 'promotion_gift_promo',
 'promotion_multipurchase_promo',
 'promotion_shelf_header_promo',
 'projection_factor',
 'province_code',
 'postal_code',
 'sales_surface_sqmeters',
 'date',
 'manufacturer',
 'volume_(ml)',
 'units_(ct)',
 'province',
 'autonomous_community',
 'min_temp',
 'max_temp',
 'avg_temp',
 'precipitation_(mm)',
 'brand_MAN 1 - BRAND 1',
 'brand_MAN 1 - BRAND 2',
 'brand_MAN 1 - OTHER BRANDS',
 'brand_MAN 2 - BRAND 1',
 'brand_MAN 2 - BRAND 2',
 'brand_MAN 2 - BRAND 3',
 'brand_MAN 2 - BRAND 4',
 'brand_MAN 2 - BRAND 5',
 'brand_MAN 2 - OTHER BRANDS',
 'brand_MAN 3 - BRAND 1',
 'brand_MAN 3 - BRAND 2',
 'brand_MAN 3 - BRAND 3',
 'brand_MAN 3 - BRAND 4',
 'brand_MAN 3 - BRAND 5',
 'brand_MAN 3 - OTHER BRANDS',
 'brand_MAN 4 - BRAND 1',
 'brand_MAN 5 - BRAND 1',
 'brand_MAN 5 - BRAND 2',
 'brand_MAN 5 - OTHER BRANDS',
 'brand_MAN 6 - BRAND 1',
 'brand_OTHER MAN - OTHER BRANDS',
 'packaging_CAN',
 'packaging_CRISTAL BOTTLE',
 'packaging_OTHER',
 'packaging_PET',
 'segment_ARTISANS',
 'segment_BLACK',
 'segment_CELIACS',
 'segment_EXTRA',
 'segment_FLAVOURED',
 'segment_IMPORT PREMIUM',
 'segment_IMPORT SPECIAL',
 'segment_NATIONAL',
 'segment_WITHOUT ALCOHOL',
 'segment_ZERO ALCOHOL',
 'canal_code_1',
 'canal_code_2']

In [19]:
together2 = together2.drop(['Unnamed: 0',
 'store_code',
 'week_code',
 'prod_code',
 'units_sold',
 'sales_(€)',
 'sales_volume_(lt)',
 'real_unit_price',
 'real_volume_price',
 'rate_price_in_units',
 'rate_price_in_volume',
 'promotion_aisle_promo',
 'promotion_brochure_promo',
 'promotion_discount_promo',
 'promotion_display_promo',
 'promotion_extra_quantity_promo',
 'promotion_gift_promo',
 'promotion_multipurchase_promo',
 'promotion_shelf_header_promo',
 'projection_factor',
 'province_code',
 'postal_code',
 'sales_surface_sqmeters',
 'date',
 'manufacturer',
 'volume_(ml)',
 'units_(ct)',
 'province',
 'autonomous_community',
 'min_temp',
 'max_temp',
 'avg_temp',
 'precipitation_(mm)'], axis = 1)

In [20]:
together2.head()

,invoice_id,brand_MAN 1 - BRAND 1,brand_MAN 1 - BRAND 2,brand_MAN 1 - OTHER BRANDS,brand_MAN 2 - BRAND 1,brand_MAN 2 - BRAND 2,brand_MAN 2 - BRAND 3,brand_MAN 2 - BRAND 4,brand_MAN 2 - BRAND 5,brand_MAN 2 - OTHER BRANDS,...,segment_CELIACS,segment_EXTRA,segment_FLAVOURED,segment_IMPORT PREMIUM,segment_IMPORT SPECIAL,segment_NATIONAL,segment_WITHOUT ALCOHOL,segment_ZERO ALCOHOL,canal_code_1,canal_code_2
0,100-1,1,0,0,1,1,0,0,1,1,...,0,1,1,1,1,1,1,1,1,0
1,100-10,1,0,0,1,1,0,1,1,1,...,0,1,1,1,1,1,1,1,1,0
2,100-100,1,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
3,100-101,1,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0
4,100-102,1,0,0,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,0

In [21]:
#together2.to_csv("TOGETHER2 DUMMIES.csv")